name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

env:
  earthly_version: 0.8.16
  golangci_lint_version: v2.8.0

jobs:
  go-mod-tidy:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - run: go mod tidy -v

      - name: Check go.mod and go.sum
        run: git diff --exit-code -- go.mod go.sum

  go-fmt:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - run: go fmt ./...

      - name: Check diff
        run: git diff --exit-code

  go-generate:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.earthly_version }}

      - run: earthly +generate

      - name: Check diff
        run: git diff --exit-code

  go-build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 5
    strategy:
      matrix:
        go-env:
          - name: amd64
            env: GOOS=linux GOARCH=amd64
          - name: arm64
            env: GOOS=linux GOARCH=arm64
          - name: armv7
            env: GOOS=linux GOARCH=arm GOARM=7
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: CGO_ENABLED=0 ${{ matrix.go-env.env }} go build -o out/

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.go-env.name }}
          path: out/**/*

  create-release:
    if: github.ref == 'refs/heads/main'
    needs: go-build
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 5
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: build

      - name: Create GitHub Release
        run: |
          set -u
          version=$(date +'%Y.%m.%d.%H.%M.%S')
          mkdir release
          for arch_dir in build/*; do
            arch=$(basename "$arch_dir")
            tar -czf "release/tsblock_${version}_${arch}.tar.gz" -C "$arch_dir" .
          done
          gh release create --repo "$GITHUB_REPOSITORY" --target "$GITHUB_SHA" --prerelease "$version" release/*
        env:
          GH_TOKEN: ${{ github.token }}

  golangci-lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.golangci_lint_version }}
